@font-face {
    font-family: 'YoungSerif';
    src: url('./fonts/YoungSerif-Regular.eot');
    font-weight: normal;
    font-style: normal;
}

.mainBtn{
    font-family: YoungSerif;
    font-size: 20px;
    z-index: 22;
    color: white;
    cursor: none;
    position: relative;
    padding-right: 5px;
    padding-left: 5px;
    padding-block: 3px;
    text-decoration: dotted black 3px;
}

.mainBtn>p{
    margin: 0;
}

.mainBtn::after{
    content: '';
    width: .5rem;
    position: absolute;
    height: 1px;
    left: -1rem;
    top: 50%;
    transition: all .2s ease-in-out;
}

.R::after{
    background-color: red;
}

.G::after{
    background-color: green;
}

.B::after{
    background-color: blue;
}

.mainBtn:hover::after{
    bottom: 0;
    left: 0;
    top: 100%;
    width: 100%;
}

/* .mainBtn::before{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    z-index: -1;
    width: 0;
    height: 100%;
    background-color: transparent;
    transition: width .5s ease;
    border-style: none none none none;
}

.mainBtn:hover::before{
    border-style: none none solid none;
    border-width: 1px;
    border-color: white;
    transition: width .5s ease;
    width: 100%;
} */

@media (max-width: 1000px) {
    .mainBtn::before{
        width: 100%;
        border: 1px solid white;
    }    
}