.mainGrid{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    background-color: rgb(75,75, 75);
}

.mainGridMobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    z-index: 5;
    height: auto;
    position: relative;
    overflow-x: hidden;
}

.flockingContMobile{
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}

.space{
    width: 100vw;
    height: 300vh;
    background-color: red;
}