@font-face {
    font-family: 'YoungSerif';
    src: url('./fonts/YoungSerif-Regular.eot');
    font-weight: normal;
    font-style: normal;
}

.nameMobile{
    font-family: 'YoungSerif';
    color: white;
    z-index: 555;
    font-size: 3em;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: max-content;
    display: flex;
    position: relative;
}

.letters{
    width: 100vw;
    height: 110vh;
    display: block;
    position: relative;
}

.letter{
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    overflow: hidden;
    --letterAnimation: ease;
    --letterAnimDuration: 2s;
}

#mobileA{
    --ATranslate: -2.5em -1.5em;
    translate: var(--ATranslate);
    animation: animateA var(--letterAnimDuration) var(--letterAnimation);
}

@keyframes animateA {
    0%,50%{
        translate: -1em;
    }
    100%{
        translate: var(--ATranslate);
    }
}

#mobileM{
    translate: -1.8em;
    animation: animateM var(--letterAnimDuration) var(--letterAnimation);
}

@keyframes animateM {
    0%,50%{
        translate: 0;
    }
    100%{
        translate: -1.8em;
    }
}

#mobileV{
    --VTranslate: -1.4em 1.5em;
    translate: var(--VTranslate);
    animation: animateV var(--letterAnimDuration) var(--letterAnimation);
}

@keyframes animateV {
    0%,50%{
        translate: 1.1em;
    }
    100%{
        translate: var(--VTranslate);
    }
}

.rest{
    opacity: 1;
    animation: animateRest var(--letterAnimDuration) var(--letterAnimation);
}

@keyframes animateRest {
    0%,50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.buttonsAbout{
    margin-top: 2rem;
    position: relative;
    margin-inline: auto;
    width: max-content;
    background-color: red;
    height: 10px;
    transition: all 1s ease;
}

.buttonsAbout > button{
    position: absolute;
}

.buttonsAbout:first-child{
    top: 0;
}

.isVisible{
    background-color: blue;
    translate: 0 -10vh;
}
