body{
    overflow: hidden;
}

@media (max-width: 1000px) {
    body{
        overflow: scroll;
    }
}

@font-face {
    font-family: 'YoungSerif';
    src: url('./fonts/YoungSerif-Regular.eot');
    font-weight: normal;
    font-style: normal;
}

.react-p5{
    position: absolute;
    top: 0;
}

.flockingCont{
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.pane{
    position: relative;
    overflow: hidden;
    width: 50vw;
    height: 50vh;
    content: 'a';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.pair{
    cursor: none;
    background-color: rgba(77, 71, 30, 0);
}

.odd{
    background-color: rgba(0, 0, 0, 0.26);
    backdrop-filter: blur(2px);
}

.paneName{
    overflow: hidden;
    position: relative;
    flex-direction: row;
    cursor: none;
    background-color: transparent;
}

#hoverMe {
    top: 25%;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    position: absolute;
    padding-inline: 1rem;
    padding-block: .35rem;
    animation: hoverMeA 4s infinite;
    opacity: 1;
    --b: 2px;   /* thickness of the border */
    --c: white;   /* color of the border */
    --w: 10px;  /* width of border */
    --r: 5px;  /* radius */
}

#hoverMe::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--c,red);
    padding: var(--b);
    border-radius: var(--r);
    -webkit-mask:
        linear-gradient(  0deg,#000 calc(2*var(--b)),#0000 0) 50% var(--b)/calc(100% - 2*var(--w)) 100% repeat-y,
        linear-gradient(-90deg,#000 calc(2*var(--b)),#0000 0) var(--b) 50%/100% calc(100% - 2*var(--w)) repeat-x,
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}

.invisible{
    display: none;
}

@keyframes hoverMe{
    0%,100%{
        opacity: 0;
    }
    50%,70%{
        opacity: .75;
    }
}

@keyframes hoverMeA{
    0%,100%{
        opacity: 0;
    }
    50%,70%{
        opacity: .75;
    }
}

.quote{
    display: flex;
}

#quoteAuth{
    display: flex;
    font-size: 20px;
}

#quoteAuth svg{
    cursor: pointer;
    scale: .5;
    translate: 0 -15px;
    transition: all .5s ease;
    opacity: 0;
}

.quote:hover #quoteAuth svg{
    transition: all .5s ease;
    opacity: 1;
}

.quoteText{
    width: 504px;
    height: max-content;
}

.simple, .expanded{
    position: relative;
    margin-right: 3rem;
    margin-bottom: 3rem;
}

.simple{
    transition: margin-right .5s ease;
}

#name{
    --aSpacingInline: -3.5rem;
    --vSpacingInline: 4rem;
    cursor: none;

}

.letter{
    font-size: 50px;
    font-family: YoungSerif;
    margin: 0;
    position: absolute;
}

.simple>div#a{
    translate: var(--aSpacingInline) 0;
    transition: translate .5s ease;
}

.simple>div#v{
    translate: var(--vSpacingInline) 0;
    transition: translate .5s ease;
}

.expanded>div#a{
    animation: letterA .5s ease;
    translate: 0 var(--aSpacingInline);
}

@keyframes letterA {
    0%{
        translate: var(--aSpacingInline) 0;
    }
    
    100%{
        translate: 0 var(--aSpacingInline);
    }
}

.expanded>div#v{
    animation: letterV .5s ease;
    translate: 0 var(--vSpacingInline);
}

@keyframes letterV {
    0%{
        translate: var(--vSpacingInline) 0;
    }
    
    100%{
        translate: 0 var(--vSpacingInline);
    }
}

.quote{
    font-family: YoungSerif;
    font-size: 25px;
}

.expanded{
    margin-right: 60%;
    transition: margin-right .5s ease;
}

.aboutProject{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-left: 35%;
    animation: aboutAnim .5s;
    cursor: none;
}

@keyframes aboutAnim {
    0%{
        opacity: 0;
    }
    100%{
        margin-left: 35%;
        opacity: 1;
    }
}


.contacts{
    min-height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.contactElement{
    cursor: pointer;
    height: 4rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    margin-inline: 0;
    transition: all .5s ease;
}

.contactElement:hover{
    transition: all .5s ease;
    margin-inline: 1rem;
    height: 5rem;
}

.github svg{
    scale: 1.5;
}

#v{
    padding-right: 5px;
}
