.modalAbtMe{
    width: 100%;
    max-height: 100%;
}

.left{
    min-width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profilePhoto{
    display: none;
    max-width: 100%;
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: contain;
}

.right{
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow-y: scroll;
    padding-right: 1rem;
}

.cont{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.btnGraph{
    background-color: black;
    padding-inline: .5rem;
    padding-block: .5rem;
    border-radius: 5px;
    color: white;
    border: 1px solid silver;
    margin-left: 1rem;
    cursor: pointer;
}

.anim{
    content: '';
    z-index: 9999;
    background-color: red;
    height: 100%;
    animation: anim 1s ease-in-out;
}

/* Width and color of scrollbar track */
::-webkit-scrollbar {
    width: 8px;
    height: 90%;
    margin-top: 1rem;
    background-color: #f5f5f500;
}

/* Style of scrollbar thumb */
::-webkit-scrollbar-thumb {
    background-color: #A9A9A9;
    border-radius: 10px;
}

/* Style of scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #606060;
}
  


@keyframes anim {
    0%{
        width: 0;
    }

    100%{
        width: 100%;
    }
}