.modal {
    display: flex;
    position: fixed;
    z-index: 998;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.61);
    cursor: default;
  }
   
  /* Modal content */
  .modal-content {
    position: relative;
    cursor: default;
    backdrop-filter: blur(7px);
    padding-block: 20px;
    border-radius: 1rem;
    padding-inline: 20px;
    margin-block: auto;
    margin-inline: auto;
    border: 1px solid #888;
    width: 80%;
    height: 90%;
  }

.modalAbtMe{
    display: flex;
    gap: 1rem;
}
  
  /* Close button */
.close {
    position: absolute;
    top: .5rem;
    right: 2rem;
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
  color: #6e6e6e;
  text-decoration: none;
  cursor: pointer;
}

.projectsModalWrapper{
  max-height: 100%;
  overflow-y: scroll;
}

a{
  color: white;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

a:visited {
  color: #ffffff;
}

.underC{
  display: flex;
  flex-direction: column;
  width: min-content;
  color: white;
  gap: 1rem;
  margin: auto;
  align-items: center;
  height: 100%;
}

.wall{
  width: 10rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
}

.row{
  display: flex;
  justify-content: center;
}

.brik{
  aspect-ratio: 16/9;
  height: 3rem;
  border: 1px solid white;
}
